  *{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
body{
  font-family: 'Work Sans', sans-serif;
}
#logo{
  height: 33px;
  width: 268px;
}

nav{
  display: flex;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
}
.container{
  display: flex;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
}
.navi{
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  flex-grow: 1;
  list-style-type: none;
  margin-top: 10px;
}
li a{
  display: flex;
  text-decoration: none;
  color: #747474;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
li a:hover{
  color: #00b39b;
}
li{
  padding-right: 20px;
}
.introsec{ 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}
.star{
margin: 0px 467.5px 0 467.5px;
}
.introsec > h1{
  font-size: 34px;
  margin: 34px 0 34px 0;
  color: #00b39b;
}
.paragraph{
  display: flex;
  justify-content: space-around;
  padding: 10px 10px 10px 10px;
  font-family: 'Roboto', sans-serif;
  color: #747474;
}
.pone{
  margin: 0 25px 0 25px
}
.secards{
  display: flex;
  justify-content: center;
  padding: 25px;
  font-family: 'Roboto', sans-serif;
}
.secards h1{
  display: flex;
  align-items: baseline;
  font-size: 26px;
  font-weight: bold;
  margin: 7.5px 0 7.5px 0;
}
.secards p{
  font-size: 24px;
}
.patients, .doc, .clinics {
  border-radius: 10px;
  padding: 32px 32px 0 32px;
  height: 350px;
  width: 320px;
}
.patients{
  background-color:#00ccb1;
  padding: 32px 32px 32px 32px;
  color: white;
  margin-right: 25px ;
}
.doc{
  margin-right: 25px;
  background-color:#3d83df;
  padding: 32px 32px 32px 32px;
  color: white;
}
.clinics{
  margin-right: 25px;
  background-color:#1b2734;
  padding: 32px 32px 32px 32px;
  color: white;
}
i{
  color: white;
}
select{
  display: flex;
  align-items: baseline;
  background: none;
  border: none;
  text-decoration: underline;
  color: white;
  font-size: 19.2px;
  font-family: 'Roboto', sans-serif; 
  font-weight: bold;
}
option{
  color: black;
}
.companies{
  display: flex;
  justify-content: center;
  padding: 25px 0 25px 0;
}
.companies h1{
 display: flex;
 color: #00b39b;
 font-weight: bold;
 font-size: 26px;
 margin-right: 250px;
 margin-left: 100px;
}
.companyonendtwo{
  display: flexbox;
  flex-grow: 1;
}
.companyone{
  display: flexbox;
  justify-content: flex-end;
}
.companyone a {
  text-decoration: none;
  color: #747474;
  font-weight: bold;
  margin: 0 15px 0 15px;
}
.companytwo{
  display: flex;
}

.companytwo a {
  text-decoration: none;
  color: #747474;
  font-weight: bold;
  margin: 0 15px 0 15px;
}

.myworld {
  background-image: url(/img/modified.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.world h1{
  font-size: 34px;
  font-weight: bold;
  color: #00b39b;
}
.world p{
  font-family:'Roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #747474;
}
.leappoi{
  display: flex;
}
.leader{
  background-color: white;
  margin: 50px 0px 10px 0px;
  border-radius: 5px;
  text-align: center;
  width: 300px;
  height: 275px;
  padding: 15px;
}
.leader img{
  padding-top: 15px;
}
.leader h1{
   font-size: 24px;
   color: #00b39b;
   font-weight: bold; 
   padding-top: 10px;
}
.leader p{
  font-size: 13px;
  font-family:'Work Sans', sans-serif ;
  font-weight: bold;
  color: #747474;
}
.appointments{
  background-color: white;
  margin: 30px 50px 0 30px;
  border-radius: 5px;
  text-align: center;
   height: 275px;
   padding: 0 15px 0 15px;  
}
.appointments img{
  padding-top: 60px;
}
.appointments h1{
  font-size: 24px;
  font-weight: bold;
  color: #00b39b ;
  padding-top: 20px;
}
.appointments p{
  font-size: 13px;
  font-family:'Work Sans', sans-serif ;
  font-weight: bold;
  color: #747474;
}
.eightdoc{
  display: flex;
}
.eight{
  background-color: white;
  background-color: white;
  margin: 10px 0px 50px 0px;
  border-radius: 5px;
  text-align: center;
  width: 300px;
  height: 275px;
  padding: 15px;
}
.eight img{
padding-top: 60px;
}
.eight h1{
  font-size: 24px;
  font-weight: bold;
  color: #00b39b;
  padding-top: 20px;
}
.eight p{
  font-size: 13px;
  font-family:'Work Sans', sans-serif ;
  font-weight: bold;
  color: #747474;
}
.activedoc{
  background-color: white;
  margin: 0 50px 0px 30px;
  border-radius: 5px;
  text-align: center;
   height: 275px;
   padding: 0 15px 0px 15px;
}
.activedoc img{
  padding-top: 60px;
}
.activedoc h1{
  font-size: 24px;
  font-weight: bold;
  color: #00b39b ;

}
.activedoc p{
  font-size: 13px;
  font-family:'Work Sans', sans-serif ;
  font-weight: bold;
  color: #747474;
  margin: 0 50px 50px 50px;
}
.card{
  width: 200px;
  height: 220px;
  background-color: azure;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main h1{
  margin-top: 80px;
  font-size: 30px;
  color: #00b39b;
}
main p{
  color: #747474;
}
.sph{
  display: flex;
  justify-content: center;
}
.spone{
  margin-left: 10px 
}
.sptwo{
 margin-left: 20px ;
}
figure{
  display: flex;
  justify-content: center;
  margin: 40px;
}
.warsaw,.barcelona,.istanbul,.munich,.rome,.bologna,.mexicocity, .curitiba{
  width: 340px;
  height: 370px;
}

.warsaw img, .istanbul img{
  margin-right: 45px;
}
.warsawtbtn h1,.barcelonatbtn h1,.istanbultbtn h1,.munichtbtn h1,.rometbtn h1,.bolognatbtn h1,.mexicocitytbtn h1,.curitibatbtn h1
  {
  font-size: 20px;
  color: #747474;
  font-weight: bold;
  margin-right: 110px;
  margin-left: 30px;
  margin-top: 10px;
}
.warsawtbtn,.barcelonatbtn,.istanbultbtn,.munichtbtn,.rometbtn,
.bolognatbtn,.mexicocitytbtn,.curitibatbtn{
  display: flex;
}
.warsawtbtn button,.barcelonatbtn button,.istanbultbtn button,.munichtbtn button,.rometbtn button, .bolognatbtn button,.mexicocitytbtn button,.curitibatbtn button{
margin-right: 20px;
margin-top: 10px;
margin-bottom: 10px;
font-size: 10px;
padding: 10px 15px 10px 15px;
border-radius: 4px;
color: white;
text-align: center;
background: #3d83df;
font-family: 'Roboto', sans-serif;
border: #3d83df;
}
.ending{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ending h1{
  margin-top: 30px;
  font-size: 30px;
  color: #333;
  font-weight: bold;
  margin-bottom: 22.5px;
}
.ending button{
  border-radius: 4px;
  background: #3d83df;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 15px;
  font-weight: 700;
  padding: 10px 50px 10px 50px ;
  text-align: center;
  border: white;

}
footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 79px;
  padding-top: 30px;
  border-top: 1px solid #eef2f2;
  font-size: 12px;
  color: #ababab;
  font-weight: 400;
  font-family:'Roboto', sans-serif ;  
  line-height: 1.3;
}
footer a{
  text-decoration: none;
}
.weblink{
  display: flex;
  justify-content: center;
}

